  <h1>Set up an item</h1>

{{#if error}}
Error: {{error}}
{{/if}}

	<form method="post">
			<input name="name" placeholder="name"><br/>
			<input name="price" placeholder="price"><br/>
			<input name="description" placeholder="description"><br/>
			<input type="submit" id="set-up-item" />
	</form>
