{{#if name}}
  <h1>Logged in</h1>
  <p>You are now logged in as <span id="login-result-name">{{name}}</span>.
  {{#if balance}}
    <span id="balance">Your balance is {{balance}}. <a href="/user/me">Top it up</a>.</span>
  {{/if}}
  </p>
{{else}}
  <h1>Log in</h1>
  {{#if error}}
      <p class="error">{{error}}</p>
  {{/if}}
  <form method="post" action="/log-in">
    <input name="name" placeholder="name" /><br/>
    <input name="password" placeholder="password" /><br/>
    <input type="submit" value="Log In" id="log-in"/>
  </form>
{{/if}}
